body {
    font-family: Arial, sans-serif;
}

#btnSign{
    width: 30px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

#sign-selector {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.sign {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.sign:hover {
    background-color: #f0f0f0;
}